{% extends 'base_content.html' %}
{% block content %}

<h1 class="d-flex justify-content-between align-items-center">
  Request Lesson Cancellation
  <a href="{% url 'dashboard' %}" class="btn btn-primary">Back to Dashboard</a>
</h1>

<form method="post" action="{% url 'cancellation_request' %}">
  {% csrf_token %}
  <div class="form-group">
      {{ form.lesson.label_tag }}
      {{ form.lesson }}
  </div>
  <div class="form-group">
      {{ form.reason.label_tag }}
      {{ form.reason }}
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}