{% extends 'base_content.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Welcome to your dashboard {{ user.username }}</h1>
      <p>Here are your upcoming lessons:</p>
  
      <!-- Display upcoming lessons or any relevant information -->
      <ul>
        {% for lesson in lessons %}
          <li>{{ lesson.course.name }} with {{ lesson.tutor.user.first_name }} on {{ lesson.session.start_date }}</li>
        {% endfor %}
      </ul>
    
      <!-- Add a link to the lesson request page -->
      <a href="{% url 'lesson_requests' %}" class="btn btn-primary">Request a New Lesson</a>
      <a href="{% url 'select_student' %}" class="btn btn-primary">Book a Lesson</a>
    </div>
  </div>
</div>
{% endblock %}