{% extends 'base_content.html' %}
{% block content %}
<div class="container mt-4">
    <h1 class="d-flex justify-content-between align-items-center">
        Expertise List
        <a href="{% url 'admin_dashboard' %}" class="btn btn-primary">Back to Dashboard</a>
      </h1>
    <div class="d-flex justify-content-between align-items-center mb-3 flex-wrap">
        <form method="get" class="d-flex gap-2 flex-grow-1">
            <input type="text" name="search" placeholder="Search by expertise name" value="{{ request.GET.search }}" class="form-control form-control-sm">
            <button type="submit" class="btn btn-primary btn-sm">Filter</button>
        </form>

        <a href="{% url 'expertise_add' %}" class="btn btn-success btn-sm ms-2 flex-shrink-0">Add Expertise</a>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            {% for expertise in page_obj.object_list %}
            <tr>
                <td>{{ expertise.name }}</td>
                <td>
                    <a href="{% url 'expertise_edit' expertise.id %}" class="btn btn-secondary btn-sm">Edit</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="2">No expertise found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
      {% if page_obj.has_previous %}
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
      {% endif %}
      <li class="page-item disabled">
        <span class="page-link">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
      </li>
      {% if page_obj.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
      {% endif %}
    </ul>
  </nav>

</div>
{% endblock %}

