{% extends "base_content.html" %}

{% block content %}

  <h1 class="d-flex justify-content-between align-items-center">
    Request New Lesson
    <a href="{% url 'student_dashboard' %}" class="btn btn-primary">Back to Dashboard</a>
  </h1>

  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit Request</button>
  </form>

  {% if messages %}
    {% for message in messages %}
      <div class="alert {{ message.tags }}">{{ message }}</div>
    {% endfor %}
  {% endif %}
{% endblock %}
