{% extends "base_content.html" %}

{% block title %}
Student Dashboard
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="text-center mb-4">Student Dashboard</h1>

    <!-- Schedule Section -->
    <h6 class="text-muted mb-2">Schedule</h6>
    <div class="row g-3">
        <!-- Upcoming Classes -->
        <div class="col-md-6">
            <div class="p-4 bg-light border rounded">
                <h5 class="fw-bold text-dark">Upcoming Classes</h5>
                <ul class="low-key">
                    {% for lesson in upcoming_classes %}
                        <li>
                            <strong>{{ lesson.course.name }}</strong> with {{ lesson.tutor.user.full_name }} on {{ lesson.start_date }} at {{ lesson.session.time }}
                        </li>
                    {% empty %}
                        <p>No upcoming classes.</p>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <!-- Enrolled Classes -->
        <div class="col-md-6">
            <div class="p-4 bg-light border rounded">
                <h5 class="fw-bold text-dark">Enrolled Classes</h5>
                <ul class="low-key">
                    {% for course in enrolled_classes %}
                        <li>{{ course.name }}</li>
                    {% empty %}
                        <p>You are not enrolled in any classes.</p>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <!-- Lesson Management Section -->
    <h6 class="text-muted mt-4 mb-2">Lesson Management</h6>
    <div class="row g-3">
        <!-- Request Lesson -->
        <div class="col-md-6">
            <div class="p-4 bg-light border rounded">
                <h5 class="fw-bold text-dark">Request a Lesson</h5>
                <a href="{% url 'lesson_requests' %}" class="btn btn-outline-secondary btn-sm">Request Lesson</a>
            </div>
        </div>
        <!-- Cancel Lesson -->
        <div class="col-md-6">
            <div class="p-4 bg-light border rounded">
                <h5 class="fw-bold text-dark">Cancel Lesson Request</h5>
                <a href="{% url 'cancellation_request' %}" class="btn btn-outline-danger btn-sm">Cancel Lesson Request</a>            </div>
        </div>
    </div>

    <!-- Invoices Section -->
    <h6 class="text-muted mt-4 mb-2">Invoices</h6>
    <div class="row g-3">
        <!-- View Past Invoices -->
        <div class="col-md-6">
            <div class="p-4 bg-light border rounded">
                <h5 class="fw-bold text-dark">View Past Invoices</h5>
                <a href="{% url 'student_payment_history' %}" class="btn btn-outline-secondary btn-sm">Invoices</a>
            </div>
        </div>
    <div class="row" style="height: 50px;"></div>
</div>
{% endblock %}