{% extends 'base_content.html' %}
{% block content %}
<div class="container">
    <h1>Welcome to your dashboard {{ user.username }}</h1>
  <p>Here are your current sessions:</p>
  
  <ul>
    {% for session in sessions %}
      <li>{{ session.term.name }} on {{ session.start_date }} ({{ session.duration_minutes }} minutes)</li>
    {% endfor %}
  </ul>

  <a href="{% url 'tutor_session_add' %}" class="btn btn-primary">Add a New Tutor Session</a>
  <a href="{% url 'tutor_sessions' %}" class="btn btn-secondary">View All Sessions</a>

</div>
{% endblock %}
