{% extends "base_content.html" %}
{% block content %}
<div class="container mt-5">
  <!-- Header with "Back to Dashboard" button -->
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h2>My Sessions</h2>
    <a href="{% url 'tutor_dashboard' %}" class="btn btn-primary mt-4">Back to Dashboard</a>

  </div>

  {% if sessions %}
  <table class="table table-striped table-bordered">
    <thead class="table-dark">
      <tr>
        <th scope="col">Time</th>
        <th scope="col">Term</th>
        <th scope="col">Start Day</th>
        <th scope="col">Duration</th>
        <th scope="col">Frequency</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      {% for session in sessions %}
      <tr>
        <td>{{ session.time }}</td>
        <td>{{ session.term.name }}</td>
        <td>{{ session.get_start_day_display }}</td>
        <td>{{ session.get_duration_minutes_display }}</td>
        <td>{{ session.get_frequency_display }}</td>
        <td>
          <span class="badge fw-bold 
          {% if session.is_booked %}bg-success text-white
          {% else %}bg-warning text-white
          {% endif %}">
          {% if session.is_booked %}Booked{% else %}Available{% endif %}
          </span>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <!-- Pagination controls -->
  <nav aria-label="Page navigation">
    <ul class="pagination">
      {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <li class="page-item active">
            <span class="page-link">{{ num }}</span>
          </li>
        {% elif num > page_obj.number|add:'-5' and num < page_obj.number|add:'5' %}
          <li class="page-item">
            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
          </li>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      {% endif %}
    </ul>
  </nav>
  {% else %}
  <div class="alert alert-info">
    You do not have any sessions now.
  </div>
  {% endif %}
</div>
{% endblock %}
